header {
    background-color: #181a1b;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header :is(h2, button) {
    color: #fff;
    background-color: transparent;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

header button {
    font-size: 1em;
    cursor: pointer;
    font-weight: 500;
}